@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #121212;
  font-family: Poppins, sans-serif;
}

.slick-dots li button:before {
  color: #ffffff;
}

.slick-dots li.slick-active button:before {
  color: #bd93ff;
  opacity: 1;
}

.slick-track {
  display: flex;
  gap: 32px;
}

@media (max-width: 425px) {
  .slick-track {
    gap: 16px;
  }
}
